@media screen and (max-width: 768px){
    .header {
        flex-direction: column;

    }
    .header-img-item, .header-text {
        width: 100%;
        height: 50vh;
    }
    .aboutus {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .about-img img {
        width: 15rem;
    }
}